<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ProtoPyt01.ProtoPyt01" android:versionCode="101" android:versionName="1.01" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="ProtoPyt01"></application>
</manifest>